#block * {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#block > *:not(.selectable) {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#block button:hover {
    cursor: pointer;
}

body {
    background-color: #23222B;
    background-image: url("background.png");
    background-position: top left;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#block p {
    color: white;
}

#block h1 {
    color: white;
    font-size: 3.5vw;
    font-weight: bold;
    padding: 20px;
    padding-bottom: 0px;
}

#block button {
    background-color: rgb(25, 25, 25);
    color: white;
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px;
    -webkit-filter: brightness(2);
    filter: brightness(2);
}

#block a {
    text-decoration: none;
    color: #007BFF;
}

#bg {
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

#block {
    background-color: #101820B2;
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
    opacity: 0.7;
    text-align: center;
    min-width: 0;
    padding: 35px;
    border-radius: 25px;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-top: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-flex;
}

.inputBlock {
    display: flex;
    text-align: left !important;
    width: 80%;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 10px;
}

.inputBlock input {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border: none;
}

.inputBlock input:focus {
    outline: none;
}

.inputBlock label {
    position: absolute;
    top: -15px;
    left: 10px;
    color: white;
}

.credit {
    opacity: 0.7;
}

.inputBlock:nth-of-type(1) {
    margin-top: 30px;
}