body {
    background-color: #1A191E;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}

body::-webkit-scrollbar {
    display: none;
}

#page * {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#page {
    background-color: #101820B2;
    text-align: center;
    min-width: 0;
    padding: 35px;
    border-radius: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-flex;
    border: 2px solid #FFFFFF22;
}

#page h1 {
    color: white;
    font-size: 3.5vw;
    font-weight: bold;
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#page p, #page sup, #page label, #page .progressBlob span {
    color: white;
}

#page a {
    text-decoration: none;
    color: #007BFF;
}

#page hr {
    width: 50%;
    border: 1px solid white;
    opacity: 0.2;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#page button {
    background-color: rgb(25, 25, 25);
    color: white;
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px;
    filter: brightness(2);
}

#page button:hover {
    cursor: pointer;
}

#page .inputBlock {
    display: flex;
    text-align: left !important;
    width: 80%;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 10px;
}

#page .inputBlock input {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border: none;
}

#page .inputBlock input:focus {
    outline: none;
}

#page .inputBlock label {
    position: absolute;
    top: -15px;
    left: 10px;
    color: white;
}

#page .inputBlock:nth-of-type(1) {
    margin-top: 30px;
}

#page .hidden {
    display: none !important;
}

#page .block {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#page .buttonRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#page .opacity {
    opacity: 0.7;
}

#page .progressBlob {
    width: 40px;
    height: 40px;
    background-color: #8795A9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page .progressBlock {
    display: flex;
    text-align: left;
    gap: 15px;
}

#page .progressDisplayBlock {
    height: 100%;
}

#page .progressStatistic {
    display: flex;
    flex-direction: column;
}

#page .progressStatistic progress {
    width: 100%;
    margin-top: 5px;
}

#page .hrText {
    position: relative;
    display: flex;
    align-items: center;
}

#page .hrText hr {
    flex: 1;
    width: 100px;
}

#page .hrText sup {
    padding: 0 10px;
}